* {
  margin: 0;
  padding: 0;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

body {
  height: 100vh;
  background: -webkit-linear-gradient(left, #25c481, #25b7c4);
  background: linear-gradient(to right, #25c481, #25b7c4);
  background-repeat: no-repeat;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}


h3 {
	font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}

table {
	position: relative;
  table-layout: auto;
  height: 50px;
	top: 25%;
  overflow-x: auto;
	margin:auto;
  margin-top: 0px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding-left: 5px;
}

.container_right table {
	border: none;
	top: 10%;
	width:100%;
}

th {
  padding: 12px 7px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
}

td {
  padding: 15px;
  text-align: left;
  vertical-align: middle;
  font-weight: 300;
  font-size: 12px;
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}

.container {
  display: flex;
  height: 100%;
}

.container_left {
  width: 40%;
}

.container_right {
  flex-grow: 1;
  width: 60%;
}

.heading {
	position: relative;
	top: 200px;
}

.heading_right {
	position: relative;
	top: 70px;
	right: 150px;
}

.hrm_img {
	height: 600px;
	border: solid 1px black;
}

.tr_left {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  width: 20%;
}

.table-content {
  height: 300px;
  overflow-x: auto;
  margin-top: 0px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}


/*




-----Animation------




*/
.animation-area {
  background: linear-gradient(to right, #25c481, #25b7c4);
  width: 100%;
  height: 100vh;
}

.box-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.box-area li {
  position: absolute;
  display: block;
  list-style: none;
  width: 25px;
  height: 25px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 20s linear infinite;
  bottom: -100px;
}

.box-area li:nth-child(1) {
  left: 86%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.box-area li:nth-child(2) {
  left: 12%;
  width: 30px;
  height: 30px;
  animation-delay: 1.5s;
  animation-duration: 10s;
}

.box-area li:nth-child(3) {
  left: 70%;
  width: 100px;
  height: 100px;
  animation-delay: 5.5s;
}

.box-area li:nth-child(4) {
  left: 42%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 15s;
}

.box-area li:nth-child(5) {
  left: 65%;
  width: 40px;
  height: 40px;
  animation-delay: 0s;
}

.box-area li:nth-child(6) {
  left: 15%;
  width: 110px;
  height: 110px;
  animation-delay: 3.5s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }

  100% {
    transform: translateY(-800px) rotate(360deg);
    opacity: 0;
  }
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
