<!DOCTYPE html>
<html>

<head>
    <title>HEARTRATE MONITOR</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style_user.css') }}">
</head>

<body>
    <div class="container">
        <div class="container_left">
            <div class="heading">
                <h1>Welcome</h1>
                <h1>{{ name }}</h1>
            </div>
            <table class="table-content" cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <th class="tr_left">Age</th>
                    <td>{{ age }}</th>
                </tr>
                <tr>
                    <th class="tr_left">Gender</th>
                    <td>{{ gender }}</th>
                </tr>
                <tr>
                    <th class="tr_left">Email</th>
                    <td>{{ email }}</th>
                </tr>
                <tr>
                    <th class="tr_left">Phone Number</th>
                    <td>{{ phone_number }}</th>
                </tr>
                <tr>
                    <th class="tr_left">Adress</th>
                    <td>{{ city }}, {{ region }}</th>
                </tr>
            </table>
        </div>
        <div class="container_right">
            <div class="heading_right">
                <h1>Results</h1>
            </div>
            <table class="table-content" cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <th style="font-size: 17px">&nbsp Heart Rate : {{ hrm }}</th>
                </tr>
                <tr>
                    <td><img class="hrm_img" src="/static/out.png" alt="image"></td>
                </tr>
                <tr>
                    <td> Illness : {{ illness }}</td>
                </tr>
                <tr>
                    <td> Medication : {{ misc_msg }}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="animation-area">
        <ul class="box-area">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</body>

</html>
